.note-link{
    text-decoration: none;
}
.notes-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
.note{
    border: 1px solid rgb(128, 0, 255);
    aspect-ratio: 16/9;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.icons-note{
    display: flex;
    align-items: flex-end;
    gap: 0.4rem;
}
.icons-note svg{
    cursor: pointer;
}
