.container .link{
    text-decoration: none;
}
.all-notes{
    max-width: 50vw;
    margin: 0 auto;
}
/*login/register*/

.container-auth{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
}
.container-form{
    width: 25rem;
    border: 1px solid black;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 10px 10px;
}
.button-type-action{
    cursor: pointer;
}
.button-type-action:hover{
    color: rgb(51, 21, 202)
}